@import 'tailwindcss';

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
}

* {
  font-family: var(--font-manrope), sans-serif;
}

.nav {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.titleh1 {
  /* new h1 tablet */
  font-size: 28px;
  font-weight: 700;
  font-style: normal;

  line-height: normal;
}
.titleh2 {
  text-align: center;

  /* new h2 tablet */
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 250% */
}
.titleh3 {
  color: var(--primary-text, #10385d);

  /* new h3 tablet */
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.h4blog {
  color: var(--Alternative-Text, #747775);

  /* new h4 blog tablet */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.alternative {
  color: var(--Alternative-Text, #747775);

  /* new h6 tablet */
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.p {
  /* color: #fff; */

  /* new p tablet */
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.pdialog {
  color: var(--Alternative-Text, #747775);

  /* new pdialog */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.stattext {
  color: var(--primary-text, #10385d);

  /* new h3 tablet */
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.statnum {
  color: var(--primary-text, #10385d);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.footer {
  color: var(--Alternative-Text, #747775);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* desktop */
@media (min-width: 1024px) {
  .titleh1 {
    /* new h1 */
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .titleh2 {
    text-align: center;

    /* new h2 */
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px; /* 150% */
  }
  .titleh3 {
    color: var(--primary-text, #10385d);

    /* new h3 */
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .h4blog {
    color: var(--Alternative-Text, #747775);

    /* new h4 blog */
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .alternative {
    color: var(--Alternative-Text, #747775);

    /* new h6-alternative */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .p {
    /* new p */
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
  }
  .pdialog {
    color: var(--Alternative-Text, #747775);

    /* new p dialog */
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .stattext {
    color: var(--primary-text, #10385d);

    /* new h3 */
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .statnum {
    color: var(--primary-text, #10385d);
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .footer {
    color: var(--Alternative-Text, #747775);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}
