@import 'tailwindcss';

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  /* --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0); */
}
/* 
@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
} */

* {
  font-family: var(--font-manrope), sans-serif;
}

.nav {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.nav :hover {
  color: #0070c0;
  text-decoration: underline;
  transform: scale(1.05);
  animation-duration: 300;
}

.nav :active {
  transform: scale(0.95);
}

/* tablet dan mobile */
.titleh1 {
  /* color: var(--primary-text, #10385d); */
  /* new h1 tablet */
  font-size: 28px;
  font-weight: 700;
  font-style: normal;

  line-height: normal;
}
.titleh2 {
  /* color: var(--primary-text, #10385D); */
  text-align: center;

  /* new h2 tablet */
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 250% */
}
.titleh3 {
  color: var(--primary-text, #10385d);

  /* new h3 tablet */
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.h4blog {
  color: var(--Alternative-Text, #747775);

  /* new h4 blog tablet */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.alternative {
  color: var(--Alternative-Text, #747775);

  /* new h6 tablet */
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.p {
  /* color: #fff; */

  /* new p tablet */
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.pdialog {
  color: var(--Alternative-Text, #747775);

  /* new pdialog */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.stattext {
  color: var(--primary-text, #10385d);

  /* new h3 tablet */
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.statnum {
  color: var(--primary-text, #10385d);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* desktop */
@media (min-width: 1024px) {
  .titleh1 {
    /* color: var(--primary-text, #10385d); */
    /* new h1 */
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .titleh2 {
    /* color: var(--primary-text, #10385D); */
    text-align: center;

    /* new h2 */
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px; /* 150% */
  }
  .titleh3 {
    color: var(--primary-text, #10385d);

    /* new h3 */
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .h4blog {
    color: var(--Alternative-Text, #747775);

    /* new h4 blog */
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .alternative {
    color: var(--Alternative-Text, #747775);

    /* new h6-alternative */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .p {
    /* color: #fff; */

    /* new p */
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 166.667% */
  }
  .pdialog {
    color: var(--Alternative-Text, #747775);

    /* new p dialog */
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .stattext {
    color: var(--primary-text, #10385d);

    /* new h3 */
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .statnum {
    color: var(--primary-text, #10385d);
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

/* Marquee */
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}
